In [88]:
from pandas import DataFrame
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

In [49]:
missing_value = ['n/a','na','--',0]

dt_test = pd.read_csv('test_feature.csv')
dt_train = pd.read_csv('train_features.csv')
dt_label = pd.read_csv('train_label.csv')

In [50]:
dt_train

                      facilities                        rating      location
0     RestaurantBARSwimmingPools  7.8 Very GoodFrom 10 reviews        Stokol
1           intrnetRestaurantgym        5.6 GoodFrom 4 reviews  Machlessvile
2           restaurantgympoolBar  7.2 Very GoodFrom 38 reviews    Wanderland
3                  BARRestaurant   7.3 Very GoodFrom 6 reviews    Uberlandia
4             InternetRestaurant  7.2 Very GoodFrom 30 reviews        Stokol
...                          ...                           ...           ...
3061                 barInternet                           NaN       Andeman
3062       restaurantBarInternet   8.1 ExcellentFrom 4 reviews    Uberlandia
3063  Barrestaurantswimmingpools  6.7 Very GoodFrom 10 reviews     Willsmian
3064                  Restaurant                           NaN     Hallerson
3065                     barPool  7.8 Very GoodFrom 26 reviews       Andeman

[3066 rows x 3 columns]

In [51]:
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          767 non-null    int64
 1   facilities  767 non-null    object
 2   rating      767 non-null    object
 3   location    767 non-null    object
dtypes: int64(1), object(3)
memory usage: 24.1+ KB

In [6]:
dt_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066 entries, 0 to 3065
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   facilities  2765 non-null   object
 1   rating      2429 non-null   object
 2   location    3066 non-null   object
dtypes: object(3)
memory usage: 72.0+ KB

In [52]:
dt_train.isna()

      facilities  rating  location
0          False   False     False
1          False   False     False
2          False   False     False
3          False   False     False
4          False   False     False
...          ...     ...       ...
3061       False    True     False
3062       False   False     False
3063       False   False     False
3064       False    True     False
3065       False   False     False

[3066 rows x 3 columns]

In [53]:
for col in dt_train.columns.values:
    dt_train[col].fillna(dt_train[col].mode()[0], inplace=True)

In [54]:
dt_test.isna()

        ID  facilities  rating  location
0    False       False   False     False
1    False       False   False     False
2    False       False   False     False
3    False       False   False     False
4    False       False   False     False
..     ...         ...     ...       ...
762  False       False   False     False
763  False       False   False     False
764  False       False   False     False
765  False       False   False     False
766  False       False   False     False

[767 rows x 4 columns]

In [55]:
dt_train.isna().sum()

facilities    0
rating        0
location      0
dtype: int64

In [56]:
dt_train.head(21)

                      facilities                        rating      location
0     RestaurantBARSwimmingPools  7.8 Very GoodFrom 10 reviews        Stokol
1           intrnetRestaurantgym        5.6 GoodFrom 4 reviews  Machlessvile
2           restaurantgympoolBar  7.2 Very GoodFrom 38 reviews    Wanderland
3                  BARRestaurant   7.3 Very GoodFrom 6 reviews    Uberlandia
4             InternetRestaurant  7.2 Very GoodFrom 30 reviews        Stokol
5                       internet       5.4 GoodFrom 13 reviews    Uberlandia
6                            Bar   7.9 Very GoodFrom 3 reviews     Hallerson
7                  barRestaurant   7.3 Very GoodFrom 7 reviews     Willsmian
8           intrnetbarRestaurant   10.0 ExcellentFrom 1 review       Andeman
9           intrnetbarrestaurant   7.7 Very GoodFrom 8 reviews        Stokol
10  restaurantgyminternetbarpool  6.9 Very GoodFrom 23 reviews     Willsmian
11         barInternetRestaurant   9.6 ExcellentFrom 2 reviews        Stokol
12                 barRestaurant                 From 1 review        Stokol
13            internetRestaurant   10.0 ExcellentFrom 1 review        Stokol
14                 Barrestaurant  7.4 Very GoodFrom 50 reviews       Andeman
15                       intrnet       5.4 GoodFrom 13 reviews    Uberlandia
16                    Restaurant   10.0 ExcellentFrom 1 review  Machlessvile
17                           BAR   10.0 ExcellentFrom 1 review        Stokol
18                 BARRestaurant   9.6 ExcellentFrom 2 reviews       Andeman
19     RestaurantpoolbarInternet        2.4 FairFrom 4 reviews        Stokol
20                 BARrestaurant   7.8 Very GoodFrom 4 reviews     Hallerson

In [57]:
x = dt_train
y = dt_test

In [61]:
labelencoder = preprocessing.LabelEncoder()

for col in dt_train.columns.values :
  if dt_train[col].dtypes=='object' :
    data=dt_train[col].append(dt_train[col])
    labelencoder.fit(data.values)
    dt_train[col]=labelencoder.transform(dt_train[col])
  dt_train.head()

<ipython-input-61-1dfb523dfed9>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=dt_train[col].append(dt_train[col])
<ipython-input-61-1dfb523dfed9>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=dt_train[col].append(dt_train[col])
<ipython-input-61-1dfb523dfed9>:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=dt_train[col].append(dt_train[col])

In [62]:
for col in dt_test.columns.values :
  if dt_test[col].dtypes=='object' :
    data_test=dt_test[col].append(dt_test[col])
    labelencoder.fit(data_test.values)
    dt_test[col]=labelencoder.transform(dt_test[col])
  dt_test.head()

<ipython-input-62-1a25f76d4022>:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_test=dt_test[col].append(dt_test[col])
<ipython-input-62-1a25f76d4022>:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_test=dt_test[col].append(dt_test[col])
<ipython-input-62-1a25f76d4022>:3: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_test=dt_test[col].append(dt_test[col])

In [63]:
dt_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          767 non-null    int64
 1   facilities  767 non-null    int64
 2   rating      767 non-null    int64
 3   location    767 non-null    int64
dtypes: int64(4)
memory usage: 24.1 KB

In [64]:
dt_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066 entries, 0 to 3065
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   facilities  3066 non-null   int64
 1   rating      3066 non-null   int64
 2   location    3066 non-null   int64
dtypes: int64(3)
memory usage: 72.0 KB

In [70]:
dt_class = GaussianNB()
dt_class.fit(dt_train, dt_label)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [107]:
predict = dt_class.predict(dt_train)

predict
result = pd.DataFrame(predict)

In [108]:
result.info

<bound method DataFrame.info of                     0
0      7,560avg/night
1     20,000avg/night
2     20,000avg/night
3     20,000avg/night
4     20,000avg/night
...               ...
3061   2,000avg/night
3062  30,500avg/night
3063  40,191avg/night
3064  53,475avg/night
3065  20,000avg/night

[3066 rows x 1 columns]>

In [111]:
result['Price'] = result[0]
del result[0]
result

                Price
0      7,560avg/night
1     20,000avg/night
2     20,000avg/night
3     20,000avg/night
4     20,000avg/night
...               ...
3061   2,000avg/night
3062  30,500avg/night
3063  40,191avg/night
3064  53,475avg/night
3065  20,000avg/night

[3066 rows x 1 columns]

In [113]:
result.to_csv('UAS_Machine Learning_Submition.csv', index=False)